@layer base {

	html {
		@apply text-[18px] md:text-[20px];
	}

	body {
		font-family: 'Rubik Variable', sans-serif;
		font-weight: 300;
    font-variation-settings: "wght" 300;
	
		@apply text-dark text-body selection:bg-primary selection:text-white;
	
	}

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5 {
		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;
	}
	
	.link-underline {
		@apply relative after:block after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:bg-dark after:transform after:transition-all after:duration-300 after:ease-quint-out hover:after:w-0 hover:after:left-full;
	}
	
	.link-underline--secondary {
		@apply relative text-secondary after:block after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:bg-secondary after:transform after:transition-all after:duration-300 after:ease-quint-out hover:after:w-0 hover:after:left-full;
	}
	
	.link-underline-inverted {
		@apply relative after:block after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-dark after:transform after:transition-all after:duration-300 after:ease-quint-out hover:after:w-full;
	}
	.link-underline-inverted--secondary {
		@apply relative text-secondary after:block after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-0 after:bg-secondary after:transform after:transition-all after:duration-300 after:ease-quint-out hover:after:w-full;
	}
	
	section + section:not(.overlap) {
		@apply mt-small md:mt-medium
	}

	section:first-child:not(.hero) {
		@apply mt-medium md:mt-large;
	}

	.ullers li:first-child:not(.not) {
		@apply border-2 border-secondary;
	}
}

@layer components {
  .radial-gradient-primary {
    background-image: radial-gradient(ellipse at top left, #FFA929, transparent), radial-gradient(ellipse at bottom right, #FFD28F, #FFA929);
  }
  .radial-gradient-secondary {
    background-image: radial-gradient(ellipse at top left, #124697, transparent), radial-gradient(ellipse at bottom right, #1961D2, #1961D2);
  }

	.arrow-after {
		@apply relative flex items-center gap-2 after:content-arrow-right hover:after:translate-x-2 after:transition-transform duration-300 ease-quint-out;
	}

  /* .test {
    border: 1px solid red;
    display: grid;
    grid-template-rows: ;
  } */
}